html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  min-height: 100vh;
}

h1, p {
  margin: 0;
}

h1 + p, {
  margin-top: 20px;
}
p + p {
  margin-top: 20px;
}


h1 {
  max-width: 100%;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 17.18175%;
  position: relative;
  margin-bottom: 10px;
}
h1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Avenir Next", Avenir, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: #fff5ff;
}

.background-images {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: fixed;
  opacity: 0;
  animation: fade 30s infinite;
}

.background-image:nth-child(1) { animation-delay: 0; }
.background-image:nth-child(2) { animation-delay: 10s; }
.background-image:nth-child(3) { animation-delay: 15s; }

.content {
  z-index: 1;
}

p.description {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

p.cta {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

form {
  background-color: white;
  max-width: 30em;
  padding: 40px;
  margin: 40px;
  color: #999;
  text-align: center;
}

a, a:visited, a:active, a:hover {
  color: currentColor;
  text-decoration: underline;
}

h1 {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
}

hr {
  background-color: none;
  border: none;
  border-top: 1px solid #ddd;
  margin-top: 15px;
  margin-bottom: 20px;
}

input {
  appearance: none;
  background: transparent;
  box-shadow: none;
  font-size: 1em;
  font-family: inherit;
  color: currentColor;
  border: 2px solid #999;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
}
input:active, input:focus {
  outline: none;
  border-color: #9cf;
}

button {
  appearance: none;
  background-color: #999;
  color: white;
  box-shadow: none;
  font-size: 1em;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  padding: 15px;
  border: none;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  cursor: pointer;
}

button:active, button:focus, button:hover {
  border: ;
  background-color: #9cf;
}

@media (max-width: 400px) {
  form {
    padding: 25px;
  }
  p.description, p.cta {
    width: auto;
  }
  p.follow {
    font-size: 90%;
  }
}

@keyframes fade {
  from { opacity: 0; }
  33%  { opacity: 1; }
  66%  { opacity: 0; }
  to   { opacity: 0; }
}